body, html {
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./google-taken-app1.jpg);
    background-position: center;
    background-size: cover;
}


.taakcontainer {
    border: 1px solid black;
    background: linear-gradient(to bottom, #68eacc 0%, #497be8);
    width: 100%;
    min-height: 740px;
}

.table {
    background-color: white;
    width: 100%;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    
}

tr {
    height: 50px;
}

.taak-button{
    max-width: fit-content;
}

.taak-data{
    max-width: 160px;
}
.taak-datums{
    max-width: 140px;
}

.taak-nobutton{
    max-width: 285px;
}
#btntaakadd{
    max-width: 200px;
}

.taakafgerond{
    background-color: gray;
}

table {
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
  }
  
  th,
  td {
    border: 1px solid black;
    width: 315px;
    overflow: hidden;
  }

footer {
    height: auto;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: lightgray;
}